form {
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
hr {
  width: 50%;
  height: -5px;
  margin-left: 0;
  margin-top: 5px;
  border: 0.1px solid #e5e8ed;
}
input,
select {
  width: 50%;
  margin-top: 6px;
  margin-bottom: 15px;
  font-size: 15px;
}
input[type="radio"] {
  width: 3%;
}

#submit {
  width: 80px;
  padding: 10px;
  margin-left: 200px;
  color: #ffffff;
  font-weight: bold;
  border: 0px;
  border-radius: 20px;
  background-color: #2a4476;
  cursor: pointer;
}
