@media only screen and (min-width: 0px) and (max-width: 800px) {
  .header {
    display: flex;
    justify-content: center;
    height: 350px;
  }

  /* 로그인 영역 */

  .login {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #c0c0c0;
  }

  .login-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .login-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .login-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .login-loginButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login-signUpButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로그아웃 영역 */
  .logout {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border: 1px solid #c0c0c0;
  }

  .logout-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .logout-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .logout-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .logout-logOutButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout-mypageButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로고 영역 */

  .logo {
    position: absolute;
    display: flex;
    margin-top: 15%;
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
  }

  .logo-image {
    height: 50%;
    top: 12.5%;
  }

  .logo-name {
    /* 청약 pass */
    left: -82px;
    bottom: -17px;
    position: relative;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #2a4476;
  }

  .nav {
    display: none;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1536px) {
  .header {
    display: flex;
    justify-content: center;
    height: 350px;
  }

  /* 로그인 영역 */

  .login {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border: 1px solid #c0c0c0;
  }

  .login-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .login-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .login-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .login-loginButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login-signUpButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로그아웃 영역 */
  .logout {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border: 1px solid #c0c0c0;
  }

  .logout-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .logout-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .logout-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .logout-logOutButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout-mypageButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로고 영역 */

  .logo {
    position: absolute;
    display: flex;
    margin-top: 5%;
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    left: 10%;
    top: 80px;
    text-decoration: none;
  }

  .logo-image {
    height: 60%;
    top: 12.5%;
  }

  .logo-name {
    /* 청약 pass */
    left: -110px;
    bottom: -10px;
    position: relative;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #2a4476;
  }

  /* 네비게이션 바 영역 */
  .nav {
    position: absolute;
    width: 80%;
    height: 40px;
    margin-top: 15%;
    z-index: 1000;
  }

  .nav-container {
    background-color: #2a4476;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }

  .nav-items {
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    border-radius: 10px;
  }

  .nav-item {
    color: #fff;
    width: 200px;
    height: 100%;
    display: inline;
    float: left;
    position: relative;
    text-align: center;
    background-color: #2a4476;

    border-radius: 10px;
  }

  .nav-item a {
    display: block;
    padding: 9px;
    color: #fff;
    background-color: #2a4476;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    border: #c0c0c0;

    text-decoration: none;
  }

  .nav-item:hover > a {
    padding: 10px;
    color: #2a4476;
    background-color: #fff;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    text-decoration: none;
  }

  .nav-item:hover .nav-subItems {
    opacity: 1;
  }

  .nav-item:hover .nav-subItems .nav-subItem {
    height: 35px;
    overflow: visible;
    padding: 0;
  }

  .nav-subItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #2a4476;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
  }

  .nav-subItem {
    float: none;
    margin: 0;
    padding: 0;

    font-family: Gothic A1;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    border: #c0c0c0;
    text-decoration: none;
  }

  .nav-subItem:hover a {
    background-color: #f2f2f2;
    color: #2a4476;
    font-weight: bold;
  }

  .nav-subsubItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 100px;
    top: 40px;
    width: 100%;
    background-color: #2a4476;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
  }

  .nav-subsubItem {
    float: none;
    margin: 0;
    padding: 0;

    font-family: Gothic A1;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    border: #c0c0c0;
    text-decoration: none;
  }

  .nav-subsubItem:hover a {
    background-color: #f2f2f2;
    color: #2a4476;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1537px) and (max-width: 1920px) {
  .header {
    display: flex;
    justify-content: center;
    height: 350px;
  }

  /* 로그인 영역 */

  .login {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #c0c0c0;
  }

  .login-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .login-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .login-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .login-loginButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login-signUpButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .login button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로그아웃 영역 */
  .logout {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;

    background: linear-gradient(
      180deg,
      rgba(242, 242, 242, 0) 0%,
      rgba(242, 242, 242, 0.475177) 0.01%,
      rgba(242, 242, 242, 0.604037) 78.65%,
      #f2f2f2 89.06%,
      rgba(242, 242, 242, 0) 100%
    );
    border: 1px solid #c0c0c0;
  }

  .logout-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  .logout-subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: 30px;

    top: 10px;
  }

  .logout-buttonArea {
    display: flex;
    flex-direction: row;
  }

  .logout-logOutButton {
    position: static;
    width: 75px;
    height: 30px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout-mypageButton {
    position: static;
    width: 75px;
    height: 30px;
    left: 85px;
    top: 0px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;

    color: #2a4476;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .logout button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    text-decoration: none;
  }

  /* 로고 영역 */

  .logo {
    position: absolute;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    left: 10%;
    top: 80px;
    text-decoration: none;
  }

  .logo-image {
    height: 60%;
    top: 12.5%;
  }

  .logo-name {
    /* 청약 pass */
    left: -110px;
    /* bottom: -10px; */
    position: relative;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #2a4476;
  }

  /* 네비게이션 바 영역 */
  .nav {
    position: absolute;
    width: 80%;
    height: 40px;
    margin-top: 15%;
    z-index: 1000;
  }

  .nav-container {
    background-color: #2a4476;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }

  .nav-items {
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    border-radius: 10px;
  }

  .nav-item {
    color: #fff;
    width: 200px;
    height: 100%;
    display: inline;
    float: left;
    position: relative;
    text-align: center;
    background-color: #2a4476;

    border-radius: 10px;
  }

  .nav-item a {
    display: block;
    padding: 9px;
    color: #fff;
    background-color: #2a4476;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    border: #c0c0c0;

    text-decoration: none;
  }

  .nav-item:hover > a {
    padding: 10px;
    color: #2a4476;
    background-color: #fff;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    text-decoration: none;
  }

  .nav-item:hover .nav-subItems {
    opacity: 1;
  }

  .nav-item:hover .nav-subItems .nav-subItem {
    height: 35px;
    overflow: visible;
    padding: 0;
  }

  .nav-subItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #2a4476;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
  }

  .nav-subItem {
    float: none;
    margin: 0;
    padding: 0;

    font-family: Gothic A1;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    border: #c0c0c0;
    text-decoration: none;
  }

  .nav-subItem:hover a {
    display: block;
    padding: 9px;
    color: #fff;
    background-color: #2a4476;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    border: #c0c0c0;

    text-decoration: none;
  }

  .nav-subItem:hover > a {
    padding: 10px;
    color: #2a4476;
    background-color: #fff;

    font-family: Gothic A1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    text-decoration: none;
  }

  .nav-subItem:hover .nav-subsubItems {
    opacity: 1;
  }

  .nav-subItem:hover .nav-subsubItems .nav-subsubItem {
    height: 35px;
    overflow: visible;
    padding: 0;
  }

  .nav-subsubItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: #2a4476;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
  }

  .nav-subsubItem {
    float: none;
    margin: 0;
    padding: 0;

    font-family: Gothic A1;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    border: #c0c0c0;
    text-decoration: none;
  }

  .nav-subsubItem:hover a {
    background-color: #f2f2f2;
    color: #2a4476;
    font-weight: bold;
  }
}
