.recordsInfo {
    margin-top: 0%;
    margin-bottom: 4.5%;
}

.recordsInfoHeaderContainer {
    margin-left: 17%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recordsInfoSelectContainer {
    margin-left: 17%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recordsInfoSelect {
    margin-right: 10px;
}

.recordsInfoHeaderContainer .heightBar {
    width: 5px;
    height: 35px;

    background-color: #2a4476;
    margin-right: 10px;
}

.recordsInfoHeaderContainer .listTitle {
    font-family: Gothic A1;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.1em;
    color: #2a4476;
}

.recordsInfoTable {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.recordsInfoTableThead {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-collapse: collapse;
    background-color: #e5e8ed;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.recordsInfoTableTbody {
}

.recordsInfoTableTbodyTr {
}

.recordsInfoTableTbodyTrTd {
    width: 100px;
    text-align: center;
}

.recordsInfoTableTbodyTrTdClick {
    width: 80px;
    text-align: center;
    cursor: pointer;
}

/* 일반국민 */
.recordsGeneralKookminInfo {
    margin-top: 0%;
    margin-bottom: 4.5%;
}

.recordsGeneralKookminInfoHeaderContainer {
    margin-left: 17%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recordsGeneralKookminInfoHeaderContainer .heightBar {
    width: 5px;
    height: 35px;

    background-color: #2a4476;
    margin-right: 10px;
}

.recordsGeneralKookminInfoHeaderContainer .listTitle {
    font-family: Gothic A1;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.1em;
    color: #2a4476;
}

.recordsGeneralKookminInfoTable {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.recordsGeneralKookminInfoTableTbody {
}

.recordsGeneralKookminInfoTableTbodyTr {
}

.recordsGeneralKookminInfoTableTbodyTrTd {
}

.recordsGeneralKookminInfoTableTbodyTrTdSubTitle {
    text-align: center;
    padding-right: 15px;
    font-weight: bold;
    width: 200px;
}

.recordsGeneralKookminButtonContainer {
    text-align: right;
    margin-right: 30px;
}

/* pagination */
.recordsInfoPaginationContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recordsInfoPaginationSpanSame {
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    color: #e5e8ed;
    background-color: #2a4476;
    font-weight: 700;
    width: 20px;
    height: 20px;
}

.recordsInfoPaginationSpan {
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    background-color: #e5e8ed;
    width: 20px;
    height: 20px;
}
