/* documentTable_title */
.documentTable_title {
    margin-left: 20%;
    margin-top: 5%;

    border-left: 5px solid #2a4476;
    padding: 2px;
    font-weight: bold;
}
.documentTable_mainTitle {
    margin-left: 13px;
    font-size: 18pt;
    color: #000;
    letter-spacing: 1px;
}
.greetingMessage {
    margin: 20px;

    font-size: 20pt;
    text-align: center;
}

/*뒤로가기 버튼 위치 조정*/
.goBankButton {
    float: right;
    margin-right: 20%;
}
.addExplanation {
    margin: 20px;

    font-size: 15pt;
    text-align: center;
}

tr {
    padding: 10px;
}
