/* 아파트 공고번호 페이지 */
.historiesInfoHeaderContainer {
    margin-left: 38%;
}
.apt_titleIcon {
    font-size: 15pt;
    font-weight: bolder;
    color: #2a4476;
    margin-right: 10px;
}
.apt_title {
    margin-left: 1%;
    font-size: 15pt;
    color: #2a4476;
    letter-spacing: 2px;
}
.apt_subTitle {
    font-size: 12pt;
    color: black;
    letter-spacing: 1px;
}
.generalAptNumForm {
    margin-bottom: 10%;
}
.generalAptNumContainer {
    text-align: center;
    margin-top: 2%;
    margin-left: 38%;
    width: 15%;
}

/* aptNum 페이지 입력 값 */
.paramSelect {
    width: 150%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 12pt;
}
.paramSelectInput {
    margin-left: 10px;
}
.selectInputText {
    margin-left: 8px;
}
/* 이전, 다음 버튼 디자인 및 위치 조정 */
.buttonContainer {
    width: 300px;
    margin-left: 40%;
}
.buttonPosition {
    margin-left: 5px;
}
.aptBackButton {
    margin-top: 10%;

    border: none;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--button-font-size, 14px);
    color: var(--button-color, #2a4476);
    background: var(--button-bg-color, rgba(0, 0, 0, 0));
    cursor: pointer;
}
.aptBackButton:active,
.aptBackButton:hover,
.aptBackButton:focus {
    color: var(--button-color, #e3e3e3);
}
.aptNextButton {
    margin-top: 10%;
    width: 90px;
    height: 35px;

    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--button-font-size, 14px);
    border-radius: var(--button-radius, 30px);
    color: var(--button-color, #ffffff);
    background: var(--button-bg-color, #2a4476);
    cursor: pointer;
    flex: none;
    flex-grow: 0;
    margin: 10px;
}

.aptNextButton:active,
.aptNextButton:hover,
.aptNextButton:focus {
    background: var(--button-hover-bg-color, #8097c2);
}
