h3 {
    top: 80%;
}
#form {
    font-size: 15px;
    margin-top: 20%; margin-left: 40%;
}
hr {
    width: 30%; height: -5px; margin-left: 0; margin-top: 5px;
    border: 0.1px solid #E5E8ED;
}
input, select {
    width: 30%;
    margin-top: 6px; margin-bottom: 15px;
    font-size: 15px;
}
input[type = 'radio'] {
    width: 3%;
}

#submit {
    width: 80px; padding: 10px; margin-left: 200px;
    color: #FFFFFF; font-weight: bold;
    border: 0px; border-radius: 20px; background-color: #2A4476;
    cursor: pointer;
}