.allInfo .listTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2a4476;
}

.allInfo .tableContainer {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-collapse: collapse;
}

.allInfoThead {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-collapse: collapse;
  background-color: #e5e8ed;
}

.allInfoThead > .allInfoTheadTrTh {
  width: 20px;
}

.allInfoTheadTrTh {
  /* width: 80px; */
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
}

.allInfoTbody {
  border-width: 1px;
  border-color: #2a4476;
  border-style: solid;
  border-collapse: collapse;
}

.allInfoTbodyTr {
  text-align: center;
}

.allInfoTbodyTd {

}


/* #form {
  font-size: 15px;
  margin-top: 20%;
  margin-left: 40%;
} */
.Line {
  width: 30%;
  height: -5px;
  margin-left: 0;
  margin-top: 5px;
  border: 0.1px solid #e5e8ed;
}
/* input,
select {
  width: 30%;
  margin-top: 6px;
  margin-bottom: 15px;
  font-size: 15px;
}
input[type="radio"] {
  width: 3%;
} */

.save {
  width: 80px;
  padding: 10px;
  margin-left: 200px;
  color: #ffffff;
  font-weight: bold;
  border: 0px;
  border-radius: 20px;
  background-color: #2a4476;
  cursor: pointer;
}
