h3 {
    top: 80%;
}
#form {
    font-size: 15px;
    margin-top: 20%; margin-left: 40%;
}
hr {
    width: 30%; height: -5px; margin-left: 0; margin-top: 5px;
    border: 0.1px solid #E5E8ED;
}
input, select {
    width: 30%;
    margin-top: 6px; margin-bottom: 15px;
    font-size: 15px;
}
input[type = 'radio'] {
    width: 3%;
}

#submit {
    width: 80px; padding: 10px; margin-left: 200px;
    color: #FFFFFF; font-weight: bold;
    border: 0px; border-radius: 20px; background-color: #2A4476;
    cursor: pointer;
}

table {
    border-spacing: 0;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin : 20px 10px;
}
th {
    padding: 8px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background: #eee;
}
