/* 아파트 공고번호 페이지 */
.numbersInfoHeaderContainer {
    margin-left: 38%;
}
.apt_titleIcon {
    font-size: 18pt;
    color: #2a4476;
    margin-right: 10px;
    margin-top: 5%;
}
.apt_title {
    margin-left: 1%;
    font-size: 16pt;
    color: #2a4476;
    letter-spacing: 2px;
}
.apt_subTitle {
    font-size: 13pt;
    color: black;
    opacity: 0.7;
    letter-spacing: 1px;
}
/* input 소제목 */
.checkRedIcon {
    color: red;
    font-size: 10pt;
    margin-right: 10px;
}
.apt_subPlusTitle {
    text-align: left;
    font-size: 10pt;
    color: black;
    letter-spacing: 2px;
}
.generalAptNumForm {
    margin-bottom: 10%;
}
.generalAptNumContainer {
    text-align: center;
    margin-top: 2%;
    margin-left: 38%;
    width: 15%;
}
.generalAptNumInput {
    width: 140%;
    height: 18%;
    margin: 3%;
    padding: 5%;

    border: 1px solid black;
    border-radius: 5px;
    font-size: 10pt;
}
/* 이전, 다음 버튼 디자인 및 위치 조정 */
.buttonContainer {
    width: 300px;
    margin-left: 40%;
}
.buttonPosition {
    margin-left: 5px;
}
.aptBackButton {
    margin-top: 10%;

    border: none;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--button-font-size, 14px);
    color: var(--button-color, #2a4476);
    background: var(--button-bg-color, rgba(0, 0, 0, 0));
    cursor: pointer;
}
.aptBackButton:active,
.aptBackButton:hover,
.aptBackButton:focus {
    color: var(--button-color, #e3e3e3);
}
.aptNextButton {
    margin-top: 10%;
    width: 90px;
    height: 35px;

    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--button-font-size, 14px);
    border-radius: var(--button-radius, 30px);
    color: var(--button-color, #ffffff);
    background: var(--button-bg-color, #2a4476);
    cursor: pointer;
    flex: none;
    flex-grow: 0;
    margin: 10px;
}

.aptNextButton:active,
.aptNextButton:hover,
.aptNextButton:focus {
    background: var(--button-hover-bg-color, #8097c2);
}
/* loading_msg */
.loading_msg1 {
    margin-top: -10%;
    margin-left: 5%;

    text-align: center;
    font-size: 18pt;
    font-family: 'Gothic A1', sans-serif;
}
.loading_msg2 {
    margin-bottom: 5%;
    margin-left: 5%;

    text-align: center;
    font-size: 12pt;
    font-family: 'Gothic A1', sans-serif;
}

/* general supply 페이지 */
/* general_title */
.general_title {
    margin-left: 21%;
}
.general_mainTitle {
    color: #000;
    font-size: 18pt;
    letter-spacing: 2px;
}
.general_subTitle {
    font-size: 15pt;
}
.general_subPlusTitle {
    margin-top: 1%;
    text-align: left;
    font-size: 12pt;
    color: black;
    letter-spacing: 2px;
}

/*container 공간 확보*/
.generalSupply_form {
    margin-bottom: 80px;
}

/*일반공급 자격확인 테이블*/
.general_phase {
    position: relative;
    margin-top: 10%;
}
/* 일반공급 자격확인 리스트 테이블 */
.general_table {
    margin-top: 5%;
    margin-left: 21%;
    width: 55%;
}

/* 조건간 간격 조정 */
.qualification,
span.qualificationBox,
.general_result {
    z-index: 100;
    padding-bottom: 5%;
    font-size: 14pt;
}
.general_phase td.qualification {
    width: 80%;
}
.general_result_input {
    margin-left: 12%;
}
.qualificationIcon {
    z-index: 100;
    margin-right: 1%;

    color: #2a4476;
    font-size: 12pt;
}

/* input text box 테두리 보이지 않도록. */
.generalAptInfoSelect {
    margin-right: 5%;
    margin-left: 20%;

    border: 0;
    width: 90px;
    text-align: right;
}
.InputText {
    margin-left: 3px;
    margin-right: 5px;
}

/*적격 진행*/
.progress {
    position: absolute;
    color: forestgreen;
}

/*자격 조건 상세 말풍선*/
.info_tooltip {
    z-index: 200;
    margin: 10px;
    color: #2a4476;
    background-color: white;
}
/*자격조건 상세 */
.tooltip-text {
    z-index: 200;
    margin: 10px;

    color: #2a4476;
    font-size: 12pt;
    animation: 0.6s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
    0% {
        /* opacity: 0; */
        transform: translateX(-30px);
    }
    50% {
        /* opacity: 0.5; */
        transform: translateX(30px);
    }
    100% {
        /* opacity: 1; */
        transform: translateX(0px);
    }
}
/*부적격 중지 및 부적격 툴팁*/
.pause_tooltip {
    position: absolute;
    display: inline-block;
    color: #fa1c33;
    margin-left: 1%;
}
/*2순위 툴팁*/
.secondRankTootip {
    display: inline-block;
    color: rgb(233, 199, 50);
    margin-left: 1%;
}

.info_tooltip:hover .tooltip-text {
    display: block;
}
.pause_tooltip:hover .pause-tooltip-text {
    display: block;
}
.secondRankTootip:hover .tooltip-text {
    display: block;
}

/* rank 버튼 위치 조정 */
.generalRankButton {
    float: right;
    margin-right: 24%;

    font-size: 10pt;
}
