/* faq_title */
.general_title {
    margin-left: 20%;
    margin-top: 1%;

    border-left: 6px solid #2a4476;
    padding: 2px;
    font-weight: bold;
}
.general_mainTitle {
    margin-left: 13px;
    font-size: 18pt;
    color: #000;
    letter-spacing: 1px;
}
.general_subTitle {
    color: hsl(209, 28%, 39%);
    font-size: 10pt;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-left: 5px;
}

/*일반공급 자격확인 테이블*/
.general_table {
    margin-top: 3%;
    margin-left: 20%;
}
.qulificaiton {
    padding-bottom: 5%;
    font-size: 12pt;
}
