.allowLogin {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allowLogin .container {
}

.allowLogin .message {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    border: 3px solid #d0d3d9;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;

    font-family: Gothic A1;
    font-style: normal;
    font-size: 15px;
}

.allowLogin .message .warningIcon {
    font-size: 32px;
    color: #f5716b;
}
