/* 국민, 민영 이동 페이지 */
.specialType_title {
    text-align: center;
}
.specialType_mainTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 20pt;
    letter-spacing: 10px;
}
.specialType_subTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12pt;
    font-weight: normal;
    margin-top: 10px;
    letter-spacing: 5px;
}
/* aptNum 공고 확인 메세지 */
.typeInfo {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 35%;
    text-align: left;
}
.typeInfoIcon1 {
    margin-left: 4%;
    margin-right: 5px;
    color: red;
    font-size: 12pt;
    font-weight: bold;
}
.typeInfos1 {
    margin-bottom: 2%;
    font-size: 13pt;
    font-weight: 600;
}
.typeInfoIcon {
    margin-left: 4%;
    margin-right: 5px;
    font-size: 11pt;
    color: #2a4476;
}
.typeInfos {
    margin-bottom: 1%;
    font-size: 11pt;
}
.typeInfo_li {
    margin-top: 1%;
    margin-left: 6%;
}
.typeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* 아파트 공고번호 페이지 */
.numbersInfoHeaderContainer {
    margin-left: 38%;
}
.apt_titleIcon {
    font-size: 18pt;
    color: #2a4476;
    margin-right: 10px;
    margin-top: 5%;
}
.apt_title {
    margin-left: 1%;
    font-size: 16pt;
    color: #2a4476;
    letter-spacing: 2px;
}
.apt_subTitle {
    font-size: 13pt;
    color: black;
    opacity: 0.7;
    letter-spacing: 1px;
}
/* input 소제목 */
.checkRedIcon {
    color: red;
    font-size: 10pt;
    margin-right: 10px;
}
.apt_subPlusTitle {
    text-align: left;
    font-size: 10pt;
    color: black;
    letter-spacing: 2px;
}
.specialAptNumForm {
    margin-bottom: 10%;
}
.specialAptNumContainer {
    text-align: center;
    margin-top: 2%;
    margin-left: 38%;
    width: 15%;
}
.specialAptNumInput {
    width: 140%;
    height: 18%;
    margin: 3%;
    padding: 5%;

    border: 1px solid black;
    border-radius: 5px;
    font-size: 10pt;
}
/* aptNum 페이지 입력 값 */
.qualificationSelect {
    width: 150%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 12pt;
}
.qualificationSelectInput {
    margin-left: 10px;
}
.selectInputText {
    margin-left: 8px;
}
/* 이전, 다음 버튼 디자인 및 위치 조정 */
.buttonContainer {
    width: 300px;
    margin-left: 40%;
}
.buttonPosition {
    margin-left: 5px;
}
.aptBackButton {
    margin-top: 10%;

    border: none;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--button-font-size, 14px);
    color: var(--button-color, #2a4476);
    background: var(--button-bg-color, rgba(0, 0, 0, 0));
    cursor: pointer;
}
.aptBackButton:active,
.aptBackButton:hover,
.aptBackButton:focus {
    color: var(--button-color, #e3e3e3);
}
.aptNextButton {
    margin-top: 10%;
    width: 90px;
    height: 35px;

    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--button-font-size, 14px);
    border-radius: var(--button-radius, 30px);
    color: var(--button-color, #ffffff);
    background: var(--button-bg-color, #2a4476);
    cursor: pointer;
    flex: none;
    flex-grow: 0;
    margin: 10px;
}

.aptNextButton:active,
.aptNextButton:hover,
.aptNextButton:focus {
    background: var(--button-hover-bg-color, #8097c2);
}
/* loading_msg */
.loading_msg1 {
    margin-top: -10%;
    margin-left: 5%;
    text-align: center;
    font-size: 18pt;
    font-family: 'Gothic A1', sans-serif;
}
.loading_msg2 {
    margin-left: 5%;

    text-align: center;
    font-size: 15pt;
    font-family: 'Gothic A1', sans-serif;
}

/* special_title */
.special_title {
    margin-left: 21%;
}
.special_mainTitle {
    color: #000;
    font-size: 18pt;
    letter-spacing: 2px;
}
.special_subTitle {
    font-size: 15pt;
}
.special_subPlusTitle {
    margin-top: 1%;
    text-align: left;
    font-size: 12pt;
    color: black;
    letter-spacing: 2px;
}

/*container 공간 확보*/
.specialSupply_form {
    margin-bottom: 80px;
}
/*불러오기 버튼 위치 조정*/
.loadButton {
    float: right;
    margin-right: 20%;
    font-size: 10pt;
}

/* 특별공급 리스트 테이블 */
.special_table {
    margin-top: 5%;
    margin-left: 21%;
    width: 60%;
}
.special_phase {
    position: relative;
    margin-top: 10%;
}

/* 조건간 간격 조정 */
.qualification,
span.qualificationBox,
.special_result {
    z-index: 100;
    padding-bottom: 6%;
    font-size: 14pt;
}
.special_phase td.qualification {
    width: 70%;
}
.special_result_input {
    padding-bottom: 5%;
    margin-left: 20%;
}
.qualificationIcon {
    z-index: 100;
    margin-right: 1%;

    color: #2a4476;
    font-size: 12pt;
}

/* input text box 테두리 보이지 않도록. */
input.aptInfoSelect {
    margin-right: 5%;
    margin-left: 25%;

    border: 0;
    width: 90px;
    text-align: right;
}
.typeInfoSelect {
    border: 0;
    width: 180px;
    margin-left: -10%;
    margin-right: 4%;

    text-align: right;
}
.InputText {
    margin-left: 3px;
    margin-right: 5px;
}

/*적격 진행*/
.progress {
    position: absolute;
    color: forestgreen;
}

/*자격 조건 상세 말풍선*/
.info_tooltip {
    z-index: 200;
    margin: 10px;
    color: #2a4476;
    background-color: white;
}
/*자격조건 상세 */
.tooltip-text {
    z-index: 200;
    margin: 10px;

    color: #2a4476;
    font-size: 12pt;
    animation: 0.6s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* 툴팁 테이블 디자인 */
.tootipeTable {
    border-collapse: collapse;
    text-align: center;
}
.tootipeTable tr td {
    padding: 3px;
}
/*부적격 중지 및 부적격 툴팁*/
.pause_tooltip {
    position: absolute;
    color: #fa1c33;
    margin-left: 0%;
}
/*2순위 툴팁*/
.secondRankTootip {
    position: absolute;
    color: rgb(233, 199, 50);
    margin-left: 0%;
}
.pause-tooltip-text,
.tooltip-text {
    display: none;
    position: absolute;
    border: 0px solid;
    border-radius: 10px;

    font-size: 0.8em;
    color: black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.info_tooltip:hover .tooltip-text {
    display: block;
}
.pause_tooltip:hover .pause-tooltip-text {
    display: block;
}
.secondRankTootip:hover .tooltip-text {
    display: block;
}

/* rank 버튼 위치 조정 */
.specialRankButton {
    float: right;
    margin-right: 23%;

    font-size: 10pt;
}
