/* 국민, 민영 이동 페이지 */
.specialType_title {
    margin-top: 10%;
    text-align: center;
}
.specialType_mainTitle {
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 10px;
}
.specialType_subTitle {
    font-size: 15pt;
    font-weight: normal;
    margin-top: 10px;
    letter-spacing: 7px;
}
.typeContainer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.gubun {
    width: 150px;
    margin-top: 20px;
}

/* 다자녀 민영 아파트 공고번호 페이지 */
.AptNumForm {
    margin-top: 5%;
    margin-bottom: 10%;
}
.aptNumContainer {
    text-align: center;
    margin-left: 3%;
    width: 15%;
    height: 15%;
}

.aptNumButton {
    float: center;
    margin-top: -100%;
    margin-left: 100%;
}

/* special_title */
.special_title {
    margin-left: 20%;
    margin-top: 5%;

    border-left: 5px solid #2a4476;
    padding: 2px;
    font-weight: bold;
}
.special_mainTitle {
    margin-left: 13px;
    font-size: 18pt;
    color: #000;
    letter-spacing: 1px;
}
.special_subTitle {
    color: hsl(209, 28%, 39%);
    font-size: 10pt;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-left: 5px;
}
/*container 공간 확보*/
.specialSupply_form {
    margin-bottom: 80px;
}
/*불러오기 버튼 위치 조정*/
.loadButton {
    float: right;
    margin-right: 20%;

    font-size: 10pt;
}

/*특별공급 자격확인 테이블*/
.special_phase {
    position: relative;
    margin-top: 10%;
}
/* 특별공급 다자녀 민영, 특별공급 노부모 국민, 민영*/
.specialMultiChildMinyeong_table,
.specialOldParentMinyeong_table,
.specialOldParentKookmin_table {
    margin-top: 5%;
    margin-left: 20%;

    width: 60%;
}
/* 특별공급 다자녀 국민 */
.specialMultiChildKookmin_table {
    margin-top: 5%;
    margin-left: 20%;

    width: 55%;
}

/* 조건간 간격 조정 */
.qulificaiton,
.special_result {
    padding-bottom: 5%;
}
.special_result_input {
    padding-bottom: 5%;
    margin-left: 20%;
}

/* input text box 테두리 보이지 않도록. */
.aptInfoSelect {
    border: 0;
    width: 150px;
    text-align: right;
    margin-right: 30px;
}
.InputText {
    margin-right: 15px;
    margin-left: 3px;
    margin-right: 15px;
}

/*적격 진행*/
.progress {
    position: absolute;
    color: forestgreen;
}

/*자격 조건 상세 말풍선*/
.info_tooltip {
    margin: 10px;
    display: inline-block;
    color: #2a4476;
}
/* 툴팁 테이블 디자인 */
.tootipeTable {
    border-collapse: collapse;
    text-align: center;
}
.tootipeTable tr td {
    padding: 3px;
}
/*부적격 중지 및 부적격 툴팁*/
.pause_tooltip {
    position: absolute;
    display: inline-block;
    color: #fa1c33;
}
/*2순위 툴팁*/
.secondRankTootip {
    position: absolute;
    display: inline-block;
    color: rgb(233, 199, 50);
}
.pause-tooltip-text,
.tooltip-text {
    display: none;
    position: absolute;
    border: 0px solid;
    border-radius: 10px;

    font-size: 0.8em;
    color: black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.info_tooltip:hover .tooltip-text {
    display: block;
}
.pause_tooltip:hover .pause-tooltip-text {
    display: block;
}
.secondRankTootip:hover .tooltip-text {
    display: block;
}

/* rank 버튼 위치 조정 */
.multiChildRankButton {
    float: right;
    margin-right: 24%;

    font-size: 10pt;
}
.oldParentRankButton {
    float: right;
    margin-right: 24%;

    font-size: 10pt;
}
.rankRes {
    color: white;
}
